<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table layout</title>
</head>
<body>
<table>
  <tr>
    <th>column one</th>
    <th>column two</th>
  <tr>
  <td>


    <img src="../../assets/IMG-20220331-WA0006.jpg" height="200" width="200"/></td>
    <img src="../../assets/IMG-20220331-WA0006.jpg" height="200" width="200"/></td>
    <img src="../../assets/IMG-20220331-WA0006.jpg" height="200" width="200"/></td>
    <img src="../../assets/IMG-20220331-WA0006.jpg" height="200" width="200"/></td>
    <img src="../../assets/IMG-20220331-WA0006.jpg" height="200" width="200"/></td>
  </td>
  <td>
<iframe width="560" height="315" src="https://www.youtube.com/embed/p_Fiqoe4tA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  </td>
</tr>

 <tr>
  <td>







  </td>
</tr>













</tr>


</table>






</body>
</html>